target
logs
config/mqtt.xml
data
nbactions.xml
.classpath
.project
.settings
.idea
*.iml
.DS_Store
.checkstyle
web/app.min.js
.idea
install/setenv.sh
bin/setenv.sh
nohup.out
buildNumber.properties
web/media/floorplans
*.*.swp
*.*.swo
swagger/safectory_swagger.json
debug/debug-*.xml
doc/TrackManual/track_manual_en.html
doc/TrackManual/track_manual_en-local.html
/out/
/tools/scripts/userdata
